.login__btn , .register__btn{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 0.2rem;
}

.icon__sig-in{
    padding-right: 65px;
    margin: 0;
    font-size: 30px;
}

.btn-cart{
    font-size: 0.75rem !important;
}

.row-list{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0.5rem;
}

.overlay-text{
    align-items: center;
    background-color: rgba(27,27,27,0.5);
    bottom: 0;
    color: #fff;
    display: flex;
    justify-content: center;
    left: 0;
    padding: 0 2%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    word-break: break-word;
    font-size: 20px;
}

.bg-overlay{
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.btn-more{
    background-color: transparent;
}

.bg-f4{
    background-color: #f4f4f4;
}

.inf-new{
    display: block;
    overflow-wrap: break-word;
    width: 180px;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 1rem;
}

.line{
    border-bottom: 1px solid #dadada;
}

.text-tile{
    color: #b3adad;
}

.h5:hover{
    opacity: 0.5;
}

.sign-in__box{
    margin: 0 auto;
    
    padding-left: 20px;
    padding-right: 20px;
}

.separator{
    border-left: 1px solid #dadada;
    margin: 0 20px;
}

.separator-b{
    border-bottom: 1px solid #dadada;
    margin: 0 20px;
}

.container-sm{

}

.box-input{
    border: none;
    border-radius: 0;
    background-color: #f8f5f5;
    border-bottom: 2px solid #aaa9a9;
    line-height: 2rem;
}

.box-input:focus{
    border-color: transparent;
}


input:focus-visible{
    outline: none
    
}

.box_sign-in{
    width: 65% !important;
}

.box{
    max-width: 1440px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

/* @media (min-width: 768px) {
    .news{
        display: flex;
        overflow: scroll;
    }
    .row-cols-2{
        display: none;
    }
    .row{
        display: none;
    }  
    .gx-5{
        display: none;
    }
} */